@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error</h1>
    </div>
    <footer>
        Exception Details: @ViewData["Exception"]
    </footer>
</body>
</html>