
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <title></title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="short icon" href="~/theme/apollo/favicon.png">
    <link rel="stylesheet" href="~/theme/apollo/css/apollo.css">
    <script src="~/lib/showdown/dist/showdown.min.js"></script>

</head>
<body>
    <div class="wrap">
       
        <section class="container">
            <h2>@ViewData["ErrorTitle"]</h2>
            <p>@ViewData["ErrorContent"]</p>
        </section>
        
    </div>
    
</body>
</html>