@model Project3.Web.Models.ContentVM.ArticleViewModel;

@{
    //页面
    ViewData["Title"] = Model.content.title;
    Layout = "~/Views/Shared/Themes/apollo/_Layout.cshtml";
}

<div class="post">
    <article class="post-block">
       

        <div class="post-content">
            <div id="content">@Model.content.content</div>
        </div>
    </article>
</div>

@section scripts{
    <script>
        var converter = new showdown.Converter({ tables: "true", tasklists: "true", emoji:"true"});
        var content = document.getElementById("content");
        var html = converter.makeHtml(content.innerHTML);
        content.innerHTML = html;
    </script>
}
